In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [40]:
df = pd.read_csv("/home/mark/egyetem/4.felev/machine_learning/practice/LogisticRegression/Dataset/HR.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [46]:
df["salary"].replace({"low": -1}, inplace=True)
df["salary"].replace({"medium": 0}, inplace=True)
df["salary"].replace({"high": 1}, inplace=True)

In [91]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,-1
1,0.80,0.86,5,262,6,0,1,0,sales,0
2,0.11,0.88,7,272,4,0,1,0,sales,0
3,0.72,0.87,5,223,5,0,1,0,sales,-1
4,0.37,0.52,2,159,3,0,1,0,sales,-1

In [123]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df[['satisfaction_level', 'salary']], df.left, test_size=0.05)

In [124]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [125]:
model.coef_

array([[-3.7844882 , -0.65307174]])

In [126]:
model.intercept_

array([0.65103623])

In [127]:
import math
def sigmoid(x):
    return 1 / (1 + math.exp(-x))

In [128]:
def predict_retention(satisfaction, salary):
    sal = -2;
    if salary == "low":
        sal = -1
    elif salary == "medium":
        sal = 0
    elif salary == "high":
        sal = 1
    
    z = -3.80630628*float(satisfaction)-0.64576938*sal+0.65663147
    y = sigmoid(z)
    return y

In [129]:
satisfaction_level = 0.1
salary = "low"
prediction = predict_retention(satisfaction_level, salary)
print("Worker with a satisfaction level of {}% with a {} salary is {}% likely to leave the company.".format(int(satisfaction_level*100), salary, round(prediction*100, 2)))

Worker with a satisfaction level of 10% with a low salary is 71.54% likely to leave the company.

In [132]:
# itt az eredeti ertek parokhoz hasonlitja a predictelt parokat (satisfaction, salary)->(left)
precision = model.score(x_test, y_test)
print("The precision of the training is: {}%".format(round(precision*100)))

The precision of the training is: 80%